@import "seattletimes";

@import "seattletimes";


.data-source, .art-credit {
	@media @mobile {
		float: none;
	}
}

@redFill: #D15959;
@redStroke: #B51818;
@orangeFill: #D8894E;
@orangeStroke: #D86C13;

main.interactive {
	max-width: 960px;
	padding-top: 15px;
	padding-bottom: 0;
}

.graphic-hed {
	margin: 4px 0;
}

.note {
	color: #666;
	font-family: @df-sans;
	font-size: 0.8em;
	font-style: italic;
	// margin: 4px 0 10px 0;
	// text-align: center;
	p { margin: 0; }

	&.center { text-align: center; }


	&.totals {
		margin: 0;
		font-size: 1.1em;
		span { font-weight: bold; }
	}


}

.flexbox {
	display: flex;
}

.legend__text {
	color: @df-middle-gray;
	font-size: 12px;
}

.radioButton, .radioButton1, .radioButton2, .radioButton3 {
	display: none;
}

.toggle__label {
	color: #fff;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	opacity: 30%;
	padding: 5px 10px;
	line-height: 1em;
	width: auto;


	@media @mobile {
		margin: 3px auto;
		width: 75%;
	}

	&:hover {
		opacity: 100%;
	}
}

.label--cases {
	background: @orangeFill;
	border: 1px solid @orangeStroke;
	border-radius: 3px;
	border-radius: 3px;
}

.label--deaths {
	background: @redFill;
	border: 1px solid @redStroke;
	border-radius: 3px;
	border-radius: 3px;
}



#toggle, #toggle2, #toggle3 {
	margin-bottom: 15px;
	text-align: center;
}


#toggle input[type="radio"]:checked+label {
	opacity: 100%;
}

#toggle2 input[type="radio"]:checked+label {
	opacity: 100%;
}

#toggle3 input[type="radio"]:checked+label {
	opacity: 100%;
}

.map-container {
	height: 500px;
	position: relative;
}

.zoom-controls {
	margin-left: 10px;
	margin-top: 10px;
	position: absolute;
}

#map {
	position: absolute;
	border: 1px solid @df-light-gray;
}

.boundary {
  stroke: white;
  fill: @df-light-gray;
}

.hidden {
	display: none;
}

.caption-container {
	margin-top: 10px;
	margin-bottom: 10px;
	&:after {
		clear: both;
		content: "";
		display: block;
	}
}

.data-source, .art-credit, .caption {
	margin: 0;
}

.radioHeader {
	font-weight: bold;

	margin-top: 10px;
}

.col {
	width: 49%;
	display: inline-block;
	vertical-align: top;

	@media @mobile {
		width: 100%;
	}

	.toggle__label {
		width: 100%;
		margin: 2px 1px;
	}
}


.caseKey {
	height: 80px;
	line-height: 1em;
	display: none;
	text-align: left;


	&.active { display: block; }

	@media @desktop-up {
		height: 60px;
		text-align: center;
	}

	.hed {
		font-weight: bold;
		line-height: 0.9em;
		margin-bottom: 5px;
	}
	.eachKey {
		font-size: 16px;
		line-height: 0.9em;
		display: inline-block;
		margin-right: 15px;
		vertical-align: top;

		@media @mobile {
			width: 49%;
			margin-right: 0;
		}

		.key {
			width: 10px;
			height: 10px;
			display: inline-block;
		}
	}
}


.covidNum {
	display: none;
	&.active { display: block; }
}


// county map stuff

.noColor {
	fill: #e2e2e2;
}

.deathColor {
	fill: @redFill;
}

.caseColor {
	fill: @orangeFill;
}

.county {
	fill: #e2e2e2;
}



.headerC {
	font-size: 23px;

	@media @mobile {
		font-size: 27px;
	}
}

.valueC {
	font-size: 23px;

	@media @mobile {
		font-size: 29px;
	}
}

#countyMapGraphic {
	max-width: 630px;
	margin: auto;
}

#countyTrendGraphic {
  max-width: 980px;
	margin: auto;


}

#barChart {
	width: 70%;
	display: inline-block;
	@media @tablet {
		display: block;
		width: 100%;
	}



	.x {
		.tick {

			line { display: none; }

			text {
			 transform:translateY(-5px);
			 font-size: 1.4em;
			}
		}
	}
}

.y {
	.domain {
		stroke: white;
	}

	.tick {
		text {
			font-size: 1.4em;
		}
	}
}


.counter {
	width: 29%;
	display: inline-block;
	vertical-align: top;

	@media @tablet {
		display: block;
		width: 100%;
	}

	.head {
		font-weight: bold;
		font-size: 18px;
		// text-align: center;

		.title {
			display: none;

			&.showMe { display: inline-block; }
		}
	}

	.body {
		.intro {
			text-align: center;
			font-size: 18px;
		}

		.asterisk {
			font-size: 17px;
			margin-top: 2em;
			line-height: 1.2em;
		}


		.toolData {
			line-height: 1em;
			@media @mobile {
				line-height: 0.8em;
			}
		}


		.entry {
			display: inline-block;
			width: 50%;
			font-size: 16px;

			.count {
				display: inline-block;
			}

			.colorKey {
				display: inline-block;
				margin-right: 5px;
				width: 10px;
				height: 10px;
				background-color: blue;


				&.KingCase { background-color: #F3C882; }
				&.PierceCase { background-color: #E98729; }
				&.SnoCase { background-color: #B75317; }
				&.YakCase { background-color: #7b2003; }
				&.elseCase { background-color: #360d01; }
				&.UnnaCase { background-color: #aaa; }

				&.KingDeath { background-color: #f6cac1; }
				&.PierceDeath { background-color: #db8f87; }
				&.SnoDeath { background-color: #ae5c5c; }
				&.YakDeath { background-color: #7c2f38; }
				&.elseDeath { background-color: #330107; }
				&.UnnaDeath { background-color: #aaa; }



			}
		}

		.entry:last-child {
			margin-top: 7px;
			font-weight: bold;
			padding-top: 5px;
			border-top: 3px solid black;
			display: block;
			width: 100%;
			text-align: center;
		}
	}
}

.unassigned {
	font-family: @df-sans;
	display: none;

	&.active { display: block; }
	span { font-weight: bold; }
}


#newbarChart {
	position: relative;

	// .gBar {
	// 	cursor: pointer;
	// }


.arrows {
	.caret {
		display: inline-block;
		cursor: pointer;
		font-size: 2em;
		// width: 14%;
		text-align: right;
		opacity: 0.9;
		padding: 0 2px;
		line-height: 0.9;

		@media @mobile { font-size: 3em; }

		&#right {
			text-align: left;
			opacity: 0.1;
		}
	}

	// .caret:active {
	// 	opacity: 0.1;
	//   // box-shadow: 0 5px #666;
	//   transform: translateY(4px);
	// }


	.caret:hover { transform: scale(1.1); opacity: 1; }
}



		.newTooltip {
			// position: absolute;
			// top: 0px;
			// right: 0px;
			// left: 0;
			// margin: auto;
			// width: 300px;
			display: inline-block;

			width: 250px;
			// width: 69%;
			line-height: 1em;
			font-size: 1.2em;
			border: 1px solid #ccc;
			padding: 0.3em;
			padding-top: 0.5em;
			text-align: center;
			border-radius: 5px;

			@media @mobile {
				position: relative;
				width: 225px;
				font-size: 1em;
				padding: 0.4em 0.7em;
				// left: 70px;
			}

			#date {
				font-weight: bold;
			}
			#avg {
				color: #aaa;
				font-size: 0.8em;
			}
		}






	.x {
		.tick {
			line { display: none; }

			text {
			 transform:translateY(-5px);
			 font-size: 1.4em;
			}
		}

	}
}

.avg {
	display: inline-block;
	font-size: 0.9em;
	color: #777676;

	span {
		display: inline-block;
		width: 25px;
		height: 6px;
		margin-right: 7px;
		border-top: 2px solid #aaa;
	}
}

.dropdown {
		padding: 3px 5px;
		background-color: #ddd;
		display: inline-block;
		max-width: 50%;
		// width: 50%;
		vertical-align: top;
		height: 33px;


	.dropdownMenu {
		display: inline-block;
		vertical-align: top;
	}
	.dropdownItems {
		display: inline-block;
		vertical-align: top;
		text-align: center;
		background-color: #eee;
		padding: 1px 5px;
		cursor: pointer;
		max-height: 100px;
		overflow-y: scroll;
		width: 100px;

		.county {
			display: none;
			border-bottom: 1px dashed @df-light-gray;
			&.show {
				display: block;
			}
			&.active {
				color: @df-blue;
			}
		}
		// .county:first-child { display: inline-block; }
	}

	.county:hover {
		color: @df-blue;
	}
}
