<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script>
      window.CountyCounts = <%= JSON.stringify(grunt.data.json.county_counts) %>;
      window.Hospitals = <%= JSON.stringify(grunt.data.json.hospital) %>;
    </script>
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child>
      <main class="interactive noTop" id="hospitalsGraphic">
        <h1 class="graphic-hed">7-day average of state's acute care beds occupied by COVID-19 patients</h1>

        <div id="hospital_chart">
          <div id="hos_tooltip">
            <div class="date_box"><b><span class="date"></span></b>: <span class="rate"></span> full</div>
            <div class="hos_note">Past 6 days are incomplete</div>
          </div>
          <div id="hospital_graph"></div>
        </div>

        <div class="caption-container">
          <p class="data-source">Data updated on Fridays. Source: <a href="https://www.doh.wa.gov/Emergencies/Coronavirus" target="_blank" rel="noreferrer nofollow">Washington State Department of Health</a></p>
          <p class="art-credit">Lauren Flannery / The Seattle Times</p>
        </div>
      </main>
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
