<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script>
      window.case_data = <%= JSON.stringify(grunt.data.csv) %>;
      console.log(window.case_data);
    </script>
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child>
          <main class="interactive" id="countyMapGraphic">
            <h1 class="graphic-hed">Washington coronavirus cases and deaths</h1>
            <p class="note">Total cases as of 11:59 p.m. on April 1, 2020 | Updated at the end of each day </p>

            <p class="note totals" id="casesTotal"><span></span> total cases | <span></span> total deaths</p>
            <!-- <p class="note totals"></p> -->


            <form id="toggle2">
              <input type="radio" id="casesCounty" name="toggleCounty" class="radioButton1" value="casesCounty" checked>
              <label class="toggle__label label--cases" for="casesCounty">Positive (confirmed) cases*</label>
              <input type="radio" id="deathsCounty" name="toggleCounty" class="radioButton1" value="deathsCounty">
              <label class="toggle__label label--deaths" for="deathsCounty">Deaths</label><br>
            </form>

            <div class="CountyMap">
              <%= t.include("assets/countyMap.svg") %>
              <p class="unassigned" id="unassigned"><span></span> cases have not been identified by county.</p>
              <p class="unassigned" id="unassignedD"><span></span> death has not been identified by county.</p>
            </div>

            <div class="caption-container">
              <p class="caption">*Total confirmed cases include deaths.</p>
              <p class="data-source">Source: <a href="https://www.doh.wa.gov/Emergencies/Coronavirus" target="_blank" rel="noreferrer nofollow">Washington State Department of Health</a></p>
              <p class="art-credit">Lauren Flannery and Hilary Fung / The Seattle Times</p>
            </div>
          </main>
        </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
