<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script>
      window.case_data = <%= JSON.stringify(grunt.data.csv) %>;
    </script>
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child>
          <main class="interactive" id="countyTrendGraphic">
            <h1 class="graphic-hed">Timeline of new coronavirus counts in Washington state</h1>
            <p class="note">Total cases as of 11:59 p.m. on <span id="date"></span>, 2020 | Updated at the end of each day </p>
            <p class="note">Click on each bar to see that day's count.</p>
            <p class="note">The daily death total shows the net change per day in the state's death count. DOH reports new deaths while also removing wrongly assigned deaths. DOH removes deaths from the total when the primary cause of death is not COVID-19.</p>



            <form id="toggle3">
              <input type="radio" data-type="waCountyCases" id="casesCounty3" name="toggleCounty2" class="radioButton3" value="casesCounty3" checked>
              <label class="toggle__label label--cases" for="casesCounty3">Confirmed cases*</label>
              <input type="radio" data-type="waCountyDeaths" id="deathsCounty3" name="toggleCounty2" class="radioButton3" value="deathsCounty3">
              <label class="toggle__label label--deaths" for="deathsCounty3">Deaths</label><br>
              <div class="avg"><span class="line"></span>14-day rolling average</div>
            </form>

            <div class="newTrends" id="newbarChart">
              <div id="graph"></div>
              <div class="newTooltip">
                <div><span id="date"></span></div>
                <div><span id="total"></span></div>
                <div><span id="avg"></span></div>
              </div>
            </div>


            <p class="note">
              <b>July 11 combines July 10 data when the DOH database underwent maintenance and did provide a daily report.</b><br><br>
              <b>Total reported cases for July 5 are higher than previous days. A backlog of cases was added to the DOH database after the holiday weekend.</b><br><br>
              <b>Total reported cases for April 18 are less than the previous day. Data cleaning that occurred late on April 18 removed 190 confirmed cases that were discovered to be out of state residents.</b><br><br>

              <b>Due to incomplete data, the Department of Health was unable to provide the daily death counts for March 29th and 30th.</b>
            </p>

            <div class="caption-container">
              <p class="caption">*Total confirmed cases include deaths.</p>
              <p class="data-source">Source: <a href="https://www.doh.wa.gov/Emergencies/Coronavirus" target="_blank" rel="noreferrer nofollow">Washington State Department of Health</a></p>
              <p class="art-credit">Lauren Flannery and Hilary Fung / The Seattle Times</p>
            </div>
          </main>
        </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
