<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <script src="https://kit.fontawesome.com/14ba6787d4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script>
      window.DOH_Totals = <%= JSON.stringify(grunt.data.json.DOHTotalsNew) %>;
      window.CountyCounts = <%= JSON.stringify(grunt.data.json.county_counts) %>;
      window.CountyDeaths = <%= JSON.stringify(grunt.data.json.death_counts) %>;
      console.log(window.CountyCounts);
    </script>
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child>
          <main class="interactive" id="countyTrendGraphic">
            <h1 class="graphic-hed">Timeline of new coronavirus counts in Washington state</h1>
            <p class="note center">Total cases as of 11:59 p.m. on <span id="date"></span>, 2021 | Updated at the end of each day.</p>
            <p class="note center">Use the arrows to see previous days counts.</p>


            <form id="toggle3">
              <input type="radio" data-type="Cases" id="casesCounty3" name="toggleCounty2" class="radioButton3" value="casesCounty3" checked>
              <label class="toggle__label label--cases" for="casesCounty3">Cases</label>
              <input type="radio" data-type="Deaths" id="deathsCounty3" name="toggleCounty2" class="radioButton3" value="deathsCounty3">
              <label class="toggle__label label--deaths" for="deathsCounty3">Deaths</label><br>
              <div class="avg">
                <div class="caseAvg"><span class="line"></span>14-day rolling average</div>
                <!-- <div class="deathAvg">Incomplete for previous 12 days</div> -->
              </div>
            </form>

            <div class="newTrends" id="newbarChart">


                <div class="newTooltip">
                  <div><span id="date"></span></div>
                  <div><span id="total"></span></div>
                  <div><span id="avg"></span></div>

                  <div class="arrows">
                    <i id="left" class="fas fa-caret-left caret"></i>
                    <i id="right" class="fas fa-caret-right caret"></i>
                  </div>
                </div>


              <div id="graph"></div>

            </div>


            <div class="caption-container">
              <p class="data-source">Source: <a href="https://www.doh.wa.gov/Emergencies/Coronavirus" target="_blank" rel="noreferrer nofollow">Washington State Department of Health</a></p>
              <p class="art-credit">Lauren Flannery and Hilary Fung / The Seattle Times</p>
            </div>
          </main>
        </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
