<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <script src="https://kit.fontawesome.com/14ba6787d4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script>
      window.DOH_Totals = <%= JSON.stringify(grunt.data.json.DOHTotalsNew) %>;
      window.CountyCounts = <%= JSON.stringify(grunt.data.json.county_counts) %>;
      window.CountyDeaths = <%= JSON.stringify(grunt.data.json.death_counts) %>;
    </script>
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child>
          <main class="interactive noBottom" id="countyTrendGraphic">
            <h1 class="graphic-hed">CORONAVIRUS TRENDS</h1>

            <form id="toggle3">
              <input type="radio" data-type="Cases" id="casesCounty3" name="toggleCounty2" class="radioButton3" value="casesCounty3" checked>
              <label class="toggle__label label--cases" for="casesCounty3">Cases</label>
              <input type="radio" data-type="Deaths" id="deathsCounty3" name="toggleCounty2" class="radioButton3" value="deathsCounty3">
              <label class="toggle__label label--deaths" for="deathsCounty3">Deaths</label><br>
            </form>

            <div class="newTrends" id="newbarChart">


                <div class="newTooltip">
                  <div><span id="date"></span>: <span id="total"></span></div>
                  <div class="avg_note"><span class="line"></span> 14-day average: <span id="avg"></span></div>

                  <!-- <div class="arrows">
                    <i id="left" class="fas fa-caret-left caret"></i>
                    <i id="right" class="fas fa-caret-right caret"></i>
                  </div> -->
                </div>


              <div id="graph"></div>

            </div>


            <div class="caption-container">
              <p class="data-source">Data updated on Fridays, past 12 days of deaths are incomplete. Source: <a href="https://www.doh.wa.gov/Emergencies/Coronavirus" target="_blank" rel="noreferrer nofollow">Washington State Department of Health</a></p>
              <p class="art-credit">Lauren Flannery / The Seattle Times</p>
            </div>
          </main>
        </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
