<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <script src="https://kit.fontawesome.com/14ba6787d4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script>
        window.case_dataTwo = <%= JSON.stringify(grunt.data.json) %>;
    </script>
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child>
          <main class="interactive" id="graphicNotes">
            <div class="graphic-hed">Data notes for Washington state graphics</div>

            <div class="note">
              <p><b>LATEST:</b></p>
              <p>Starting on Monday, July 26, we are reducing the number of days per week that we publish the chart tracking COVID-19 vaccination rates, coronavirus cases and deaths in Washington state. We will update charts and maps on Mondays, Wednesdays and Fridays. We’re reducing its publication as day-to-day numbers have become relatively consistent. As the spread of the coronavirus changes, we may bring back some removed metrics, or add others, as we find the best balance of information for our readers.</p>
              <p>Starting Sunday 12/20, DOH will no longer report coronavirus data on Sundays. Data on Mondays will incorporate the case and hospitalization counts from the previous day.</p>
              <p>Data is as of 11:59 p.m. the previous day and is preliminary, as duplicate new cases may be included due to unprecedentedly high testing volumes.</p>
              <p>Washington State Department of Health updates and cleans the cumulative counts for cases, hospitalizations and deaths as it removes duplicate cases, and reassigns cases to correct dates and counties. The historical data shown in this chart will be adjusted every day to match DOH’s data, which includes “probable cases.” The 14-day average will adjust accordingly. Today’s case counts may include up to 1,100 duplicates due to increased laboratory testing.</p>

              <br>

              <p><b>CONFIRMED AND "PROBABLE" CASES:</b></p>
              <p>Total confirmed and probable case data includes deaths. Number of recoveries is not recorded by the DOH. A “probable case” refers to people who received a positive antigen test result but haven’t had a molecular test.</p>

              <br>

              <p><b>DEATHS:</b></p>
              <p>Past 18 days of deaths are incomplete.</p>
              <p>DOH reports new deaths while also removing wrongly assigned deaths. The DOH does not report deaths on weekends. Those deaths will be initially reported on Mondays and Tuesdays and then backdated. Past 12 days of deaths are incomplete.</p>

<br>

              <p><b>MAP CASES AND DEATHS PER CAPITA:</b></p>
<p>Nov. 1, 2021: We have readjusted the color legend to start the break down bi-weekly cases per 10,000 residents at 20 instead of 40. This better reflects the differences among counties after several weeks of continual drops in weekly cases.</p>
<p>Nov. 1, 2021: We have readjusted the color legend to break down deaths per 10,000 residents by every 5 cases instead of every 4. This better reflects the differences among counties after a third of the counties previously fell into the top category.</p>
<p>Nov. 1, 2021: We have readjusted the color legend to break down cases per 10,000 residents by every 400 cases instead of every 300. This better reflects the differences among counties after a third of the counties previously fell into the top category.</p>
<p>Sept. 30, 2021: We have readjusted the color legend to break down cases per 10,000 residents by every 300 cases instead of every 250. This better reflects the differences among counties after a third of the counties previously fell into the top category.</p>
<p>Sept. 20, 2021: We have readjusted the color legend to break down deaths per 10,000 residents by every 4 deaths instead of every 3. This better reflects the differences among counties after a third of the counties previously fell into the top category.</p>
<p>Sept. 7, 2021: We have readjusted the color legend to start the break down bi-weekly cases per 10,000 residents at 40 instead of 20. This better reflects the differences among counties after a third of the counties previously fell into the top category.</p>
<p>Aug. 25, 2021: We have readjusted the color legend to break down bi-weekly cases per 10,000 residents by every 20 cases instead of every 5. This better reflects the differences among counties after a third of the counties previously fell into the top category.</p>
<p>May 28, 2021: We have readjusted the color legend to break down cases per 10,000 residents by every 250 cases instead of every 150. This better reflects the differences among counties after a third of the counties previously fell into the top category.</p>
<p>May 7, 2021: We have readjusted the color legend to break down deaths per 10,000 residents by every 3 deaths instead of every 2. This better reflects the differences among counties after a third of the counties previously fell into the top category.</p>
<p>Feb. 1, 2021: We have readjusted the color legend to break down cases per 10,000 residents by every 150 cases instead of every 100. This better reflects the differences among counties after a third of the counties previously fell into the top category.</p>
<p>Dec. 18, 2020: We have readjusted the color legend to break down deaths per 10,000 residents by every 2 deaths instead of every 1. This better reflects the differences among counties after a third of the counties previously fell into the top category.</p>
<p>Dec. 10, 2020: We have readjusted the color legend to break down cases per 10,000 residents by every 100 cases instead of every 50. This better reflects the differences among counties after a third of the counties previously fell into the top category.</p>
<p>Nov. 5, 2020: We have readjusted the color legend to break down cases per 10,000 residents by every 50 cases instead of every 30. This better reflects the differences among counties after a third of the counties previously fell into the top category.</p>
<p>July 30, 2020: We have readjusted the color legend to break down cases per 10,000 residents by every 30 cases instead of every 15. This better reflects the differences among counties after a third of the counties previously fell into the top category.</p>


            </div>
          </main>
        </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
