<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <script src="https://kit.fontawesome.com/14ba6787d4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script>
        window.case_dataTwo = <%= JSON.stringify(grunt.data.json) %>;
    </script>
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child>
          <main class="interactive" id="graphicNotes">
            <div class="graphic-hed">Data notes</div>

            <div class="note">
              <p><b>TRENDS OVER TIME:</b></p>
              <p>Washington State Department of Health updates and cleans the cumulative counts for cases and deaths as it removes duplicate cases, and reassigns cases to correct dates and counties. The historical data shown in these charts are continually adjusted.</p>

              <br>

              <p><b>"PROBABLE" CASES:</b></p>
              <p>A “probable case” refers to people who received a positive antigen test result but haven’t had a molecular test.</p>

              <br>

              <p><b>DEATHS:</b></p>
              <p>Past 12 days of deaths are incomplete. DOH reports new deaths while also removing wrongly assigned deaths.</p> 

              <br>

              <p><b>CASES AND DEATHS PER CAPITA MAPS:</b></p>

              <p>Periodically, we will readjust the color legend to better represent the changing data. This occurs when a third of the counties fall into the top data group.</p>
              <p>We have adjust the color legend on: 1/21/2022, 11/1/2021, 9/30/2021, 9/20/2021, 5/28/2021, 5/7/2021, 2/1/2021, 12/18/2020, 12/10/2020, 11/5/2020, 7/30/2020</p>
            </div>
          </main>
        </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
