<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script>
      window.case_dataHotSpots = <%= JSON.stringify(grunt.data.json.HotSpots) %>;
      window.CountyDeaths = <%= JSON.stringify(grunt.data.json.death_counts) %>;
      window.CountyCounts = <%= JSON.stringify(grunt.data.json.county_counts) %>;
      window.DOH_Totals = <%= JSON.stringify(grunt.data.json.DOHTotalsNew) %>;
    </script>
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child>
          <main class="interactive" id="countyHotSpots">
            <h1 class="graphic-hed">Statewide cases from December 19 - January 1<span id="date-range"></span></h1>
            <p class="note center">Updated weekly on Mondays</p>



            <form id="toggle4">
              <div class="cases">
                <!-- <div class="radioHeader">Cases from May 2 - May 16</div> -->

                <input type="radio" id="casesCounty" name="toggleCounty" class="radioButton1" value="cases">
                <label class="toggle__label label--cases2" for="casesCounty"><span id="casesTotal"></span> statewide cases</label>
                <input type="radio" id="popC" name="toggleCounty" class="radioButton1" value="casesPop" checked>
                <label class="toggle__label label--cases2" for="popC"><span id="casesAdj"></span> cases per 10,000 residents</label>
              </div>
            </form>


            <div class="caseKey" id="casesPop">
              <div class="hed">Cases per 10,000 residents</div>
              <div class="eachKey"><span class="key" style="background-color:#b30000;"></span> 80.1 or more cases</div>
              <div class="eachKey"><span class="key" style="background-color:#da492b;"></span> 60.1 - 80.0</div>
              <div class="eachKey"><span class="key" style="background-color:#f77f50;"></span> 40.1 - 60.0</div>
              <div class="eachKey"><span class="key" style="background-color:#ffae83;"></span> 20.1 - 40.0</div>
              <div class="eachKey"><span class="key" style="background-color:#ffe8d6;"></span> Below 20</div>
              <div class="eachKey"><span class="key" style="background-color:#e2e2e2;"></span> Zero cases</div>
            </div>

            <div class="caseKey" id="cases">
              <!-- <div class="hed">Total cases</div> -->
              <div class="eachKey"><span class="key" style="background-color:#f77f50;"></span> Counties with cases</div>
              <div class="eachKey"><span class="key" style="background-color:#e2e2e2;"></span> Counties without cases</div>
            </div>


            <div class="HotSpotsMap">
              <%= t.include("assets/countyMap.svg") %>
              <p class="unassigned cases casesPop"><span></span> cases have not been identified by county.</p>
            </div>

            <div class="caption-container">
              <p class="caption">
                Note: The color legend may update based on the break downs of cases. See the data notes for specifics.
              </p>
              <!-- <p class="caption"><br>*Total confirmed cases include deaths.</p> -->
              <p class="data-source">Source: <a href="https://www.doh.wa.gov/Emergencies/Coronavirus" target="_blank" rel="noreferrer nofollow">Washington State Department of Health</a>. 2021 population estimates from Washington Office of Financial Management</p>
              <p class="art-credit">Lauren Flannery / The Seattle Times</p>
            </div>
          </main>
        </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
