<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script>
      window.case_data = <%= JSON.stringify(grunt.data.csv) %>;
    </script>
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child>
          <main class="interactive" id="countyTrendGraphic">
            <h1 class="graphic-hed">Timeline of cumulative coronavirus counts in Washington state</h1>
            <p class="note">Total cases as of 11:59 p.m. on <span id="date"></span>, 2020 | Updated at the end of each day </p>
            <p class="note">Click on each bar to see that day's county breakdown.</p>



            <form id="toggle3">
              <input type="radio" data-type="waCountyCases" id="casesCounty2" name="toggleCounty2" class="radioButton2" value="casesCounty2" checked>
              <label class="toggle__label label--cases" for="casesCounty2">Confirmed cases*</label>
              <input type="radio" data-type="waCountyDeaths" id="deathsCounty2" name="toggleCounty2" class="radioButton2" value="deathsCounty2">
              <label class="toggle__label label--deaths" for="deathsCounty2">Deaths</label><br>
            </form>

            <div class="CountyTrends" id="barChart"></div>
            <div class="counter">
              <div class="head"><div class="title cases showMe">Cases by county</div><div class="title deaths">Deaths by county</div><span class="date"></span></div>
              <div class="body">
              </div>
            </div>

            <p class="note">
                            <b>Total reported deaths for June 16 are less than the previous day. DOH removed 7 deaths where COVID was not the primary cause.</b><br><br>
                            <b>Total reported cases for April 18 are less than the previous day.
                            Data cleaning that occurred late on April 18 removed 190 confirmed cases that were discovered to be
                            out of state residents.</b><br><br>

              <b>Due to incomplete data, the Department of Health was unable to provide the daily death counts
              for March 29th and 30th.<b></p>

            <div class="caption-container">
              <p class="caption">*Total confirmed cases include deaths.</p>
              <p class="data-source">Source: <a href="https://www.doh.wa.gov/Emergencies/Coronavirus" target="_blank" rel="noreferrer nofollow">Washington State Department of Health</a></p>
              <p class="art-credit">Lauren Flannery and Hilary Fung / The Seattle Times</p>
            </div>
          </main>
        </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
